@font-face {
    font-family: NotoSans;
    src: url("/static/fonts/NotoSans-Regular.ttf");
}

@font-face {
    font-family: NotoColorEmoji;
    src: url("/static/fonts/NotoColorEmoji-Regular.ttf");
}

body{
    font-family: NotoSans, NotoColorEmoji;
}

button.admin, a.admin {
    border: 2px solid black;
}

.user-color-label {
    border-bottom: 3px solid var(--user-color, #888);
    padding-bottom: 1px;
}

.own-queue-item {
    font-weight: bold;
}

