<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UltraQueue – Current queue</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{/css/main.css}" href="../static/css/main.css">
    <script src="https://unpkg.com/htmx.org@2.0.4"></script>
    <script src="https://unpkg.com/htmx-ext-sse@2.2.3/sse.js"></script>
</head>
<body class="container-fluid mt-4">
<div
        hx-ext="sse"
        sse-connect="/queue/beamer/events">

    <div id="queue-container"
         hx-get="/queue/beamer/fragment"
         hx-trigger="sse:queue-update">

        <div th:replace="~{fragments/queue :: queueFragment}"></div>

    </div>

</div>

</body>